/* .img-square-wrapper {
    width: 300px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.imagesizing {
    width: 100%;
    height: 100%;
} */


.localNewsImage {
    height: 100%;
    width: 100%;
}



.img-square-wrapper {
    height: 100%;
}



.localNewsCard {
    margin-bottom: 20px;
}

.alignment {
    justify-content: center;
    align-items: center;
}

.alignCards {
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: rgb(155, 178, 199);
    border-radius: 10px;
}

.cardwrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 3px;
    margin: 4px;

}

.localNewsTitle {

    top: 0;
    width: 100%;
    height: 100px;
    margin-left: 4px;
    margin-top: 4px;
    opacity: 0.8;
    border-radius: 5px;
    padding: 0px 20px;
    text-transform: uppercase;
    overflow: hidden;
    font-size: calc(1vw + 1vh);
}



.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    background-color: aqua;
    transition: 0.6s;
    opacity: 0;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;






}

.content:hover {
    opacity: 1;
}

/* carousel css */

.carouselImage {
    position: relative;

}

.carouselNavigationLeft>span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 15px;
    background-color: darkslategray;
    border-radius: 0px 20px 20px 0px;
}

.carouselNavigationRight>span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px;
    background-color: darkslategray;
    border-radius: 20px 0px 0px 20px;
}

.carouselItem {

    background-color: darkslategray;
    border-radius: 5px;
    color: aliceblue;
}

.carouselImage>Img {
    width: 100%;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px;

}



.carouselDescription {
    padding: 20px;
    font-size: 25px;
    word-spacing: 0.5ch;
}

.carouselAndLocalNews {
    margin-bottom: 30px;
}

.localNewsImage>Img {
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 25px;

}



.localNewsBody {
    display: flex;
    justify-content: center;
}



.localImageCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.localNewsCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.localNewsDescription {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.localNewsDescriptionWhite {
    text-decoration: none;
    color: white;
    font-weight: bold;
}




.localNewsListmid {
    background-color: darkslategray;
    color: white;
    padding: 20px;



}

.localNewsList {
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.allLocalNews {
    padding: 20px;
}



@media only screen and (max-width: 768px) {
    .carouselItem {
        padding: 0%;
        margin-bottom: 20px;
    }

    .carouselImage>Img {
        width: 100%;
        max-width: 100%;
        height: auto;

    }


    .localNewsCards {
        margin-top: 30px;
    }


}