.localNewsImage {
    height: 100%;
    width: 100%;
}

.LocalNews {
    margin-bottom: 50px;
}

.img-square-wrapper {
    height: 300px;


}

.localNewsCard {
    margin-bottom: 20px;
}

.alignment {
    justify-content: center;
    align-items: center;
}

.alignCards {
    justify-content: center;
    align-items: center;
}