.brandName {
    margin-left: 20px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}


.searchInput {
    width: 100%;
}

.loginButton {
    margin-right: 5px;
}

.weather {
    margin-left: 10px;
}

.weather_icon {
    height: 40px;
    width: 40px;
}

.degrees {
    font-size: 30px;
    font-weight: bold;
}

.search {
    background-color: rgb(86, 163, 86);
    border-radius: 5px;
}

.menu-toggler {
    margin-right: 20px;
}

.input-group {
    width: auto;
}

.navbar-bgcolor {
    background-color: rgb(72, 72, 72);
}

.nav-color {
    color: white !important;
}